lib/.DS_Store

tutorial2_quantities_and_amounts/.DS_Store
=======
.DS_Store
exploratory_project/data/filtered_KWIC.csv
exploratory_project/data/filtered_querystats.csv
exploratory_project/data/regionsyears_KWIC.csv
exploratory_project/data/regionsyears_Querystats.csv
exploratory_project/dataManipulation.R

exploratory_project/KWICdatatoJSON.py
exploratory_project/eurasiakwic.json
exploratory_project/data.json
exploratory_project/kwic_keywords.json
exploratory_project/data/kwic_keywords.json
exploratory_project/data/eurasiakwic.json
exploratory_project/data/key_randomwords.xlsx
exploratory_project/data/.RData
exploratory_project/data/.Rhistory
exploratory_project/data/regions_years_num_records.csv
exploratory_project/data/regyear_termMents.csv
exploratory_project/data/regyear_termMents_stackedready.csv
exploratory_project/data/term_tot_mentions.csv
data/filtered_KWIC.csv
data/filtered_querystats.csv
data/kwic_keywords.json
data/regionsyears_KWIC.csv
data/regyear_termMents.csv
.vscode/settings.json
