lib/.DS_Store

tutorial2_quantities_and_amounts/.DS_Store
=======
.DS_Store
exploratory_project/data/filtered_KWIC.csv
exploratory_project/data/filtered_querystats.csv
exploratory_project/data/regionsyears_KWIC.csv
exploratory_project/data/regionsyears_Querystats.csv
exploratory_project/dataManipulation.R

