#h1 {
  font-size: 50px;
  margin: 0px 0px 2px 0px;
  font-family: 'Avenir', sans-serif;
  font-weight: 100;
  font-variant: small-caps slashed-zero;
  color: #f206d3;
  }
  
#h2 {
  font-size: 20px;
  margin: 0px 0px 0px 0px;
  font-family: 'Avenir', sans-serif;
  font-weight: 200;
  font-variant: small-caps slashed-zero;
  color: #478adb;
  }
  
#link {
	font-family: 'Avenir', sans-serif;
  font-size: 6px;
  font-variant: small-caps slashed-zero;
	margin: 8px 10px 2px 4px;
  color: #778287;
}
 
a:link, a:visited, a:active {
	text-decoration: none;
  color: #778287;
  border-bottom: 0.6px dotted #D1D5D7;
}
  
body {
  font-family: 'Avenir', sans-serif;
  background-color:white;
}
          
/*Defining axis stylings*/

.x-axis text,  .y-axis text {
        font-family: 'Avenir', sans-serif;
      	font-weight: 100;
        font-size:10px;
      	opacity:0.8;
        fill: #778287;
      }

.y-axis path, .x-axis path {
        fill: none;
        stroke-width: 0;
        stroke-opacity:1;
        stroke: #778287;
      }

.x-axis line, .y-axis line {
        fill: none;
        stroke-width: 0;
        stroke-opacity:1;
        stroke: #778287;
      }
  
/*Defining chart stylings*/
    
.legend {
  padding-top: 15px;

}
.label {
  font-size: 12px;
}